/* Box */
.layout {
  position: fixed;
  z-index: -1;
  display: flex;
  width: 12vw;
  height: 91vh;
  margin-top: 10vh;
  bottom: 0;
  left: 0;
  padding: var(--none, 0rem) var(--none, 0.1875rem);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: rgb(232, 232, 232);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container {
  display: flex;
  width: 100%;
  height: 95%;
  margin-top: 0;
  top: 0;
  left: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5625rem;
  flex-shrink: 0;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}

/* Dropdown */
.dropdown {
  width: 90%;
  height: 14.4vh;
  position: relative;
  display: inline-block;
  padding: var(--0, 0rem);
  justify-content: center;
  align-items: center;
  gap: var(--15, 0rem);
}
.dropwdownBtn {
  width: 100%;
  height: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border: 0;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  background: var(--gray-100, #f3f4f6);
}

.buttonElements {
  width: 95%;
  height: 1.25rem;
  display: flex;
  padding: var(--none, 0rem) 0.0625rem;
  align-items: center;
  gap: 1rem;
}
.leftContent {
  width: 8.0625rem;
  height: 1.25rem;
  display: flex;
  flex-direction: row;
  padding: var(--none, 0rem) 0.0625rem;
  align-items: center;
  gap: 0.6rem;
}

.icons {
  margin: 0;
  padding: 0;
}

.buttonTitle {
  color: var(--gray-900, var(--gray-900, #111928));
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 1rem */
}
/* Dropdown menu */
.submenu {
  display: none;
  top: 100%;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.submenu a {
  height: 0.15rem;
  padding: 0.78rem 1rem;
  text-decoration: none;
  display: block;
  color: #111928;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  justify-content: center;
}

.submenu a:hover {
  background-color: #ddd;
  font-style: normal;
  font-weight: 500;
}

.dropdown.isOpen {
  /* height: fit-content; */
  margin-bottom: 0.5rem;
  /* max-height: 7.69rem; */
}

.dropdown.isOpen .submenu {
  display: block;
}
